.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(203, 213, 186);
}

.logo {
  width: 100px;
  height: 100%;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  color: black;
  font-family: serif;
}

.nav-items > ul > li:hover {
  color: white;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
  width: 240px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}

.search {
  padding: 10px;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}
